<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="PcapName" value="c:\sniffer\pcap\5mb.pcap" />
    <add key="SessionDir" value="c:\sniffer\sessions\" />
    <add key="DatasetName" value="c:\sniffer\dataset\packets_train.csv" />
    <add key="DatasetMinifiedName" value="c:\sniffer\dataset\packets_train_minified.csv" />   
  </appSettings>
</configuration>